<%- include('../templates/header', {isLoggedIn: isLoggedIn})-%>
<div class="container ">

  <table class="table table-striped table-bordered table-hover py-3 my-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Organisation</th>
      </tr>
    </thead>
    <tbody>
      <% let a = 1  %> 
      <% userList.forEach(user => { %>
        <tr>
          <th scope="row"><%= a %> </th>
          <td><%= user.firstname + ' ' + user.lastname %> </td>
          <td><%= user.email %> </td>
          <td><%= user.organisation %> </td>
        </tr>
        <% a++;  %> 
      <% }); %>
    </tbody>
  </table>

</div>

<div class="col-md-12 text-center">

  <ul class="pagination pagination-lg justify-content-center">
    <% if (currentPage == 1 && pages > 1) { %> 
      <li class="page-item">
        <a class="page-link" href="/list/<%= parseInt(currentPage) + 1 %>">
          <%= parseInt(currentPage) + 1 %>
        </a>
      </li>
    <% } else if (currentPage < pages) { %>
      <li class="page-item">
        <a class="page-link" href="<%= parseInt(currentPage) - 1 %>">
          <%= parseInt(currentPage) - 1 %>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="<%= parseInt(currentPage) + 1 %>">
          <%= parseInt(currentPage) + 1 %>
        </a>
      </li>
    <% } else if (currentPage == pages && pages > 1) { %>
      <li class="page-item">
        <a class="page-link" href="<%= parseInt(currentPage) - 1 %>">
          <%= parseInt(currentPage) - 1 %>
        </a>
      </li>
    <% } %>
  </ul>

</div>

<%- include('../templates/footer')-%>